<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Books list</h2>
    <% books.forEach(book => { %>
        <h5><%= book.title %></h5>
        <p><%= book.summary %></p>
        <p><%= book.publication %></p>
        <img src="<%= book.cover_image %>" alt=""/>
        <p><%= book.category %></p>
        <p><%= book.author.name %></p>
    <% }) %>
</body>
</html>

