<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books List</h1>
    <h2><%= book.title %></h2>
    <h3><%= book.summary %></h3>
    <h4><%= book.pages %></h4> 
    <h4><%= book.publication %></h4>
    <h4><%= book.cover_image %></h4>
    <p><%= book.category %></p>
    <h4><%= book.author %></h4>
</body>
</html>